.ContentBox {
    margin:75px 0;
    display:flex;
    flex-wrap:wrap;
}

.BlogItemBox {
    max-width:45%;
    margin:30px 20px;
}

.BlogImage {
    height:350px;
}

.BlogTitle {
    text-decoration: none;
    color:black;
    font-size:24px;
}